---
layout: default
---
<div>
{% for category in site.categories %}
    {% assign catg_name = category.first %}
    {% if catg_name == page.categories.first | downcase %}
        {% assign catg_posts = category.last %}
    {% endif %}
{% endfor %}
{% for post in catg_posts %}
    {% if post.title == page.title %}
        {% unless forloop.last %}
            {% assign next = catg_posts[forloop.index] %}
            <a href="{{ site.url }}{{ next.url }}">&larr;{{ next.title }}</a> |
        {% endunless %}
        {% unless forloop.first %}
            | <a href="{{ site.url }}{{ prev.url }}">{{ prev.title }}&rarr;</a>
        {% endunless %}
    {% endif %}
    {% assign prev = post %}
{% endfor %}
</div>
<div>&nbsp;</div>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<!--
<div id="post-nav" class="clearfix">
  {% if page.previous.url %} 
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a> 
  {% endif %} 
  {% if page.next.url %} 
    | <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a> 
  {% endif %} 
</div>
-->

{% for category in site.categories %}
    {% assign catg_name = category.first %}
    {% if catg_name == page.categories.first | downcase %}
        {% assign catg_posts = category.last %}
    {% endif %}
{% endfor %}
{% for post in catg_posts %}
    {% if post.title == page.title %}
        {% unless forloop.last %}
            {% assign next = catg_posts[forloop.index] %}
            <a href="{{ site.url }}{{ next.url }}">&larr;{{ next.title }}</a>
        {% endunless %}
        {% unless forloop.first %}
            || <a href="{{ site.url }}{{ prev.url }}">{{ prev.title }}&rarr;</a>
        {% endunless %}
    {% endif %}
    {% assign prev = post %}
{% endfor %}

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
